<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Group List</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body class="p-4">
    <h2 class="mb-3">Group List</h2>

    <a href="{% url 'configapp:group_create' %}" class="btn btn-primary mb-3"
      >Add Group</a
    >

    <table class="table table-bordered table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Field</th>
        <th>OTM</th>
        <th>Actions</th>
      </tr>

      {% for g in groups %}
      <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.group_name }}</td>
        <td>{{ g.group_field }}</td>
        <td>{{ g.otm.otm_name }}</td>
        <td>
          <a
            href="{% url 'configapp:group_edit' g.id %}"
            class="btn btn-warning btn-sm"
            >Edit</a
          >
          <a
            href="{% url 'configapp:group_delete' g.id %}"
            class="btn btn-danger btn-sm"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
